<!doctype html>
<html>
   <head>
      <title>Flask App</title>
   </head>
   <body>
      <h1>Put a question mark for the value to solve for, then input all the other numbers! (Question Mark: ?)</h1>
      <form action="/submit" method="POST">
         <label for="NPER">NPER:</label>
         <input type="text" step="0.01"  id="NPER" name="NPER"><br><br>
         <label for="RATE">RATE:</label>
         <input type="text" step="0.01" id="RATE" name="RATE"><br><br>
         <label for="PV">PV:</label>
         <input type="text" step="0.01"  id="PV" name="PV"><br><br>
         <label for="PMT">PMT:</label>
         <input type="text" step="0.01"  id="PMT" name="PMT"><br><br>
         <label for="FV">FV:</label>
         <input type="text" step="0.01"  id="FV" name="FV"><br><br>
         <button type="submit">Submit</button>
      </form>
   </body>
</html>