<!doctype html>
<html>
   <head>
      <title>Flask App</title>
   </head>
   <body> 
      <h1>Stock Comparison</h1>
      <p>Name: {{ Ticker1 }} VS {{ Ticker2 }}<p>
        <p>Current Price: {{ currentPrice1 }} ___VS___ {{ currentPrice2 }}<p>
            <p>EBITDA Margin: {{ ebitdaMargins1 }} ___VS___ {{ ebitdaMargins2 }}<p>
                <p>Enterprise Value: {{ enterpriseValue1 }} ___VS___ {{ enterpriseValue2 }}<p>
                    <p>Forward EPS: {{ forwardEps1 }} ___VS___ {{ forwardEps2 }}<p>
                        <p>Forward PE: {{ forwardPE1 }} ___VS___ {{ forwardPE2 }}<p>
                            <p>Price to Book: {{ PricetoBook1 }} ___VS___ {{ PricetoBook2 }}<p>
                                <p>Revenue Per Share: {{ revenuePerShare1 }} ___VS___ {{ revenuePerShare2 }}<p>
      </form>
   </body>
</html>